.chip {
  margin-left: $spacingMini;
  margin-top: $spacingMini;
  transform: translateY($spacingMini * -1) translateX($spacingMini * -1);
  padding: $spacingMini $spacing-1;
  transition: all 375ms ease-in-out 0s;
  display: inline-block;
  @extend .caption;
  @extend .relative;
  >* {
    display: inline-block;
  }
  &::before {
    content: "";
    transition: opacity 375ms ease 0s;
    opacity: 0;
    @extend .absolute-total-size;
  }
  &:not(.no-hover):hover::before {
    opacity: 0.1;
  }
}

.chip {
  &:not(.rounded) {
    border-radius: $radius;
    &:before {
      border-radius: $radius;
    }
  }
  &.rounded {
    border-radius: 20px;
    &:before {
      border-radius: 20px;
    }
    .btn {
      &,
      &:after,
      &:before {
        @extend .fully-rounded;
      }
    }
  }
  & .temporarily-off {
    opacity: 0.3;
  }
  &.interactive {
    @extend .cursor-pointer;
  }
}

.chip {
  .label {
    margin-right: $spacingMini;
  }
  span {
    line-height: 28px;
  }
  .btn-group:first-child {
    margin-left: -10px;
  }
  .btn-group:last-child {
    margin-right: -10px;
  }
  i {
    transition: opacity 375ms ease 0s;
    opacity: 0.3;
  }
  &:hover i {
    opacity: 1;
  }
}
