.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  @extend .shadow-1;
  position: absolute;
  top: 100%;
  z-index: $zindex-dropdown;
  border-radius: $radius;
  background-clip: padding-box;
  min-width: 160px;
  padding-top: $spacingMini;
  padding-bottom: $spacingMini;
  margin-top: $spacingMini;
  .on-hover & {
    &::before {
      background-color: transparent !important;
      content: "";
      display: block;
      height: $spacingMini;
      position: absolute;
      top: $spacingMini * -1;
      width: 100%;
    }
  }
  &.right {
    left: auto;
    right: 0;
  }
  &:not(.right) {
    left: 0;
    right: auto;
  }
  .divider {
    height: 1px;
    margin: $spacing-1 0;
    overflow: hidden;
  } 
  //VARIATIONS
  & {
    display: none;
  }
  &.animated {
    display: block;
    transform: scaleY(0);
    transition: transform 0.2s ease 0.3s;
    transform-origin: 0 0;
    &>* {
      opacity: 0;
      transition: opacity 0.2s ease 0s;
    }
    .dropdown.open &,
    .on-hover:hover & {
      transform: scaleY(1);
      transition: transform 0.2s ease 0s;
      >* {
        opacity: 1;
        transition: opacity 0.2s ease 0.2s;
      }
    }
  }
}

// Open state for the dropdown
.on-hover:hover,
.open {
  // Show the menu
  .dropdown-menu {
    display: block;
  } 
  // Remove the outline when :focus is triggered
  >a {
    outline: 0;
  }
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  @extend .fixed-total-size;
  z-index: ($zindex-dropdown - 10);
}
