
<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#009688">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Portifólio detalhado de Renan Zózimo, de Belo Horizonte, Web Designer na Prime Systems, UX Designer e algumas vezes Front-end developer." />  

  <title>Renan Zózimo</title>

  <link rel="icon" sizes="192x192" href="src/imgs/logo192.png">
  <link rel="alternate" hreflang="pt-br" href="https://renanzozimo.github.io/"/>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="src/css/layout.css">
  <link rel="stylesheet" href="src/css/theme.css">
</head>
<body ng-class="{'react-to-mezzanine' : mezzanineIsOpen}" ng-controller="MainController">
  <header class="container-fluid bg-color primary color text-primary-white pd-tp-1 pd-bt-2">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12" ng-controller="HeaderController">
            <div class="btn-group text-right text-center-xssm -down-force mg-bt-1">
              <a class="btn type-flat color-white" title="Acesse o LinkedIn de Renan Zózimo" target="_blank" href="http://www.linkedin.com/in/renanzozimo">
                <span class="mg-rt-mini color text-secondary-white text-lowercase">linkedIn/renanzozimo</span>
                <img src="src/imgs/linkedin.svg" title="linkedin" alt="linkedin-logo" style="width: 24px;">
              </a>
              <span class="mg-lt-mini mg-rt-mini color text-disabled-white hidden-xssm-down">|</span>
              <a class="btn type-flat color-white hidden-xssm-down" title="Acesse o Github de Renan Zózimo" target="_blank" href="https://github.com/renanzozimo">
                <span class="mg-rt-mini color text-secondary-white text-lowercase">Github</span>
                <img src="src/imgs/github.svg" title="github" alt="github-logo" style="width: 24px;">
              </a>
            </div>
            <div class="flex-start- text-center-xssm-down center">
              <img class="fully-rounded flex-shrink-0 mg-rt-1 mg-bt-1-xssm-down" src="src/imgs/renan zozimo.jpg" alt="Renan Zozimo foto" title="Renan Zozimo" style="width: 150px; max-width: 40%;">
              <div>
                <h1 class="display-2" style="line-height: 1; transform: translateX(-3px)">Renan Zózimo</h1>
                <p class="color text-secondary-white mg-bt-1">{{description}}</p>
                <h4 class="color text-secondary-white">UX Designer - <small>sometimes front-end explorer :)</small></h4>
                <p class="color text-secondary-white">renanfz@gmail.com</p>
              </div>
            </div>
            <h4 class="mg-tp-2 mg-bt-1 text-right text-center-xssm-down-force v-align-children">
              <i class="material-icons color text-secondary-white">place</i>
              <span>BH, Minas Gerais</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="container pd-tp-2">
    <h2 class="mg-bt-2">Perfil profissional</h2>
    <div class="row">
      <article id="summary" class="col-xs-12 col-lg-6 mg-bt-2">
        <h4 class="mg-bt-1">Resumo</h4>
        <p>Trabalho há {{xpTime}} anos com sistemas web e mobile e há {{xpTimeUx}} anos com UX (User Experience), desenvolvendo soluções criativas com foco em usabilidade.</p>
        <p class="mg-tp-1">Meu objetivo é oferecer interações garantindo a boa experiência do usuário nas tarefas do dia a dia.</p>
        <div class="btn-group mg-tp-1">
          <button class="btn type-flat color-accent no-active-feedback" ng-click="showDetails('summary', 1)" ng-disabled="mezzanineContent === 'summary-1'">+ sobre o que acredito</button>
        </div>
      </article>
      <article class="col-xs-12 col-md-8 col-lg-6 mg-bt-2">
        <h4 class="mg-bt-1">Experiências profissionais</h4>
        <section class="card flex-start top pd-1">
          <h6 style="width: 100px; flex-shrink: 0; transform: translateY(2px)">2018 até hoje</h6>
          <div class="full-width">
            <p class="subheading">Solutions One</p>
            <p><small>UX Designer & Product Designer</small></p>
            <!-- <div class="btn-group text-right mg-tp-mini">
                      <button class="btn type-flat color-accent">+ detalhes</button>
                    </div> -->
          </div>
        </section>
        <section class="card flex-start top pd-1">
          <h6 style="width: 100px; flex-shrink: 0; transform: translateY(2px)">2013 a 2018</h6>
          <div class="full-width">
            <p class="subheading">Prime Systems</p>
            <p><small>UX Designer + Front end developer</small></p>
            <!-- <div class="btn-group text-right mg-tp-mini">
              <button class="btn type-flat color-accent">+ detalhes</button>
            </div> -->
          </div>
        </section>
        <div class="text-right">
          <a class="btn inline-block type-flat color-accent" title="Acesse o LinkedIn de Renan Zózimo" target="_blank" href="http://www.linkedin.com/in/renanzozimo">
            <span class="mg-rt-mini">+ em linkedIn/renanzozimo</span>
          </a>
        </div>
      </article>
      <article class="col-xs-12 mg-bt-2">
          <h4 class="mg-bt-1">Meus planos, objetivos e expectativas</h4>
          <section>
            <p class="mg-bt-1">Meu objetivo é sempre trabalhar mais orientado a dados e pesquisa com usuários, focando principalmente na parte humana do desenvolvimento de interfaces.</p>
            <p class="mg-bt-1">Desejo até 06/2020 alcançar fluência em inglês (que já estudo há um tempo mas sem prática), desenvolver um produto próprio e manter um blog que exponha meus conhecimentos de CSS, UX e prototipação para ajudar quem está começando.</p>
            <p class="mg-bt-1">Gosto muito de programar, então é provável que meus estudos de JS em casa continuem por um bom tempo =D</p>
          </section>
        </article>
      <article class="col-xs-12">
        <h4 class="mg-bt-1">Feitos profissionais</h4>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <section class="card pd-1">
              <h5 id="xp-currently" class="mg-bt-1">Atualmente - Solutions One </h5>
              <li class="pd-1" ng-class="{'bg-color body-bg' : mezzanineContent === 'xp-currently-1'}">
                <span class="mg-rt-1">Protótipos de média fidelidade utilizando VueJS + Html/CSS/JS. Todo protótipo é construído de acordo com o design guide estabelecido pelo time de front-end: Material Design + Vue Material.</span>
                <a class="text-nowrap line" ng-click="showDetails('xp-currently', 1)" ng-show="mezzanineContent !== 'xp-currently-1'">+ detalhes</a>
              </li>
              <li class="pd-1">
                <span class="mg-rt-1">Inúmeros protótipos de baixa e alta fidelidade visual utilizando Adobe XD e Invision Studio. Processo de validação de ideias com a área de negócio foi melhorado consideravelmente, reduzindo ruídos na comunicação entre o planejamento e a execução.</span>
              </li>
              <li class="pd-1">
                <span class="mg-rt-1">Condução de análises de jornada do usuário para todas as novas features, visando a precisão dos testes dos protótipos.</span>
              </li>
              <li class="pd-1">
                <span class="mg-rt-1">Criação e manutenção de biblioteca de componentes para prototipação no Adobe XD.</span>
                <a class="text-nowrap line" target="_blank" href="https://xd.adobe.com/view/945ad521-8c4c-4688-4d10-02f1263057c4-e26b/?fullscreen">ver modelo</a>
              </li>
              <li class="pd-1">
                <span class="mg-rt-1">Criação de "anexo" visual auxiliar ao Vue Material, solicitado pelo time competente da empresa, com o objetivo de contornar alguns problemas corriqueiros no desenvolvimento das telas e adicionando pequenas soluções que favorecem
                nossos sistemas.</span>
                <a class="text-nowrap line" target="_blank"
                  href="https://s1vm.netlify.com/">ver S1VM</a>
              </li>
            </section>
          </div>
          <div class="col-xs-12 col-md-6">
            <section class="card pd-1">
              <h5 id="xp-ux" class="mg-bt-1">UX - Prime Systems</h5>
              <ul class="pd-lt-2">
                <li class="pd-1" ng-class="{'bg-color body-bg' : mezzanineContent === 'xp-ux-1'}">
                  <span class="mg-rt-1">Design Sprint com o objetivo de redesenhar interações e telas do aplicativo PrimeBuilder;</span>
                  <a class="text-nowrap line" ng-click="showDetails('xp-ux', 1)" ng-show="mezzanineContent !== 'xp-ux-1'">+ detalhes</a>
                </li>
                <li class="pd-1" ng-class="{'bg-color body-bg' : mezzanineContent === 'xp-ux-2'}">
                  <span class="mg-rt-1">Timeline de tarefas no PrimeBuilder para acompanhamento do trabalho realizado no dia;</span>
                  <a class="text-nowrap line" ng-click="showDetails('xp-ux', 2)" ng-show="mezzanineContent !== 'xp-ux-2'">+ detalhes</a>
                </li>
                <li class="pd-1" ng-class="{'bg-color body-bg' : mezzanineContent === 'xp-ux-3'}">
                  <span class="mg-rt-1">Redesenho do PrimeBuilder Android aplicando os padrões do Material Design.</span>
                  <a class="text-nowrap line" ng-click="showDetails('xp-ux', 3)" ng-show="mezzanineContent !== 'xp-ux-3'">+ detalhes</a>
                </li>
              </ul>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <section class="card pd-1">
              <h5 id="xp-usability" class="mg-bt-1">Usabilidade - Prime Systems</h5>
              <ul class="pd-lt-2">
                <li class="pd-1" ng-class="{'bg-color body-bg' : mezzanineContent === 'xp-usability-1'}">
                  <span class="mg-rt-1">Criação de conceito e implementação de componente chamado Mezzanine. Pelo botão "+ detalhes" é possível ver seu funcionamento nesse site;</span>
                  <a class="text-nowrap line" ng-click="showDetails('xp-usability', 1)" ng-show="mezzanineContent !== 'xp-usability-1'">+ detalhes</a>
                </li>
                <li class="pd-1" ng-class="{'bg-color body-bg' : mezzanineContent === 'xp-usability-2'}">
                  <span class="mg-rt-1">Revisão de usabilidade no sistema legado do PrimeBuilder, corrigindo os problemas mais graves e aplicando os principais conceitos da boa experiência (como as Heurísticas de Nielsen).</span>
                  <a class="text-nowrap line" ng-click="showDetails('xp-usability', 2)" ng-show="mezzanineContent !== 'xp-usability-2'">+ detalhes</a>
                </li>
              </ul>
            </section>
          </div>
          <div class="col-xs-12 col-md-6">
            <section class="card pd-1">
              <h5 id="xp-front" class="mg-bt-1">Front-end/CSS - Prime Systems</h5>
              <ul class="pd-lt-2">
                <li class="pd-1" ng-class="{'bg-color body-bg' : mezzanineContent === 'xp-front-1'}">
                  <span class="mg-rt-1">Desenvolvimento de uma estrutura base CSS completa (como bootstrap.css), visando necessidades específicas do projeto, reaproveitamento de código e manutenibilidade.</span>
                  <a class="text-nowrap line" ng-click="showDetails('xp-front', 1)" ng-show="mezzanineContent !== 'xp-front-1'">+ detalhes</a>
                </li>
                <li class="pd-1" ng-class="{'bg-color body-bg' : mezzanineContent === 'xp-front-1'}">
                  <span class="mg-rt-1">Desenvolvimento front-end utilizando React + Redux entre dez/2017 e jun/2018 no produto de roteirização da Prime Systems (ainda sem link público).</span>
                  <a class="text-nowrap line" target="_blank" href="https://www.youtube.com/watch?v=TivVVJkTj6I">vídeo no youtube</a>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </article>
      <article class="col-xs-12">
        <h4 class="mg-bt-1">Feitos não tão profissionais assim</h4>
        <div class="row">
          <div class="col-xs-12">
            <section class="card pd-1 flex-start">
              <img class="pd-rt-1 hidden-md-down" src="./src/imgs/codinames.png" style="width: 33%; border-radius: 2px;" alt="">
              <div>

                <h5 id="xp-currently" class="mg-bt-1">Código secreto - Board Game</h5>
                <p>
                Versão digital dos componentes do jogo para facilitar as jogatinas na minha casa, assim podemos usar nos smartphones ou na TV. 
              </p>
              <p class="mg-tp-1">
                O jogo é
                <a
                class="pink--text text--darken-1"
                  href="https://www.ludopedia.com.br/jogo/codenames"
                  target="_blank"
                  >Código Secreto</a
                >
                da
                <a
                  class="pink--text text--darken-1"
                  href="https://www.galapagosjogos.com.br/"
                  target="_blank"
                  >Galápagos Jogos</a
                >.
              </p>
              <p class="mg-tp-1 pd-bt-1">
                Fiz nesse caso tanto as cartas da mesa (com os codinomes) quanto a chave (gerada randomicamente) que os comandantes usam para passar as dicas.
              </p>
              <a href="https://rzc.netlify.com" target="_blank" class="text-nowrap line">ir para rzc.netlify.com</a>
            </div>
            </section>
          </div>
        </div>
      </article>
      <article class="col-xs-12 mg-bt-2">
        <h4 class="mg-bt-1">Habilidades</h4>
        <table id="skills-table" class="table-card" ng-controller="SkillsController" style="table-layout: fixed;">
          <thead id="skills-thead">
            <tr ng-show="showPlaceholder">
              <th id="placeholder-th"></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr id="skills-thead-tr" ng-class="{'fixed container pd-0-force' : fixedClassTh}" style="background-color: transparent !important">
              <th id="th-to-height"></th>
              <th class="body-2 v-align-children text-nowrap cursor-pointer" ng-click="sortBy('xp')">
                <span class="mg-rt-mini">Experiência</span>
                <div class="color text-disabled-black mg-lt-15 clearfix" style="width: 38px;">
                  <i class="material-icons pull-left color" ng-class="{'text-primary-black' : propertyName == 'xp' &amp;&amp; !reverse}">arrow_drop_up</i>
                  <i class="material-icons pull-left color" ng-class="{'text-primary-black' : propertyName == 'xp' &amp;&amp; reverse}" style="margin-top: -10px;">arrow_drop_down</i>
                </div>
              </th>
              <th class="body-2 v-align-children text-nowrap cursor-pointer" ng-click="sortBy('lvl')">
                <span class="mg-rt-mini">Nível atual</span>
                <div class="color text-disabled-black mg-lt-15 clearfix" style="width: 38px;">
                  <i class="material-icons pull-left color" ng-class="{'text-primary-black' : propertyName == 'lvl' &amp;&amp; !reverse}">arrow_drop_up</i>
                  <i class="material-icons pull-left color" ng-class="{'text-primary-black' : propertyName == 'lvl' &amp;&amp; reverse}" style="margin-top: -10px;">arrow_drop_down</i>
                </div>
              </th>
              <th class="body-2 v-align-children text-nowrap cursor-pointer" ng-click="sortBy('expect')">
                <span class="mg-rt-mini">Expectativa</span>
                <div class="color text-disabled-black mg-lt-15 clearfix" style="width: 38px;">
                  <i class="material-icons pull-left color" ng-class="{'text-primary-black' : propertyName == 'expect' &amp;&amp; !reverse}">arrow_drop_up</i>
                  <i class="material-icons pull-left color" ng-class="{'text-primary-black' : propertyName == 'expect' &amp;&amp; reverse}" style="margin-top: -10px;">arrow_drop_down</i>
                </div>
              </th>
            </tr>
          </thead>
          <tbody ng-repeat="(key, value) in skills | groupBy: 'type'">
            <tr class="no-card">
              <td class="body-2 pd-0-force mg-tp-2 hidden-md-up" colspan="4">
                <h5 class="body-2">{{key}}</h5>
              </td>
            </tr>
            <tr class="no-card">
                <td class="body-2 pd-tp-2-force hidden-sm-down-force" colspan="4">
                  <h5 class="body-2">{{key}}</h5>
                </td>
              </tr>
            <tr class="bg-color white" ng-repeat="skill in value | orderBy:propertyName:reverse">
              <td class="pivot" data-th="Habilidades">{{skill.name}}</td>
              <td class="color text-warning" data-th="Experiência">
                <div class="clearfix inline-block">
                  <i class="material-icons sz-1 pull-left"
                    ng-repeat="i in stars | limitTo: (skill.xp)">star</i>
                  <i class="material-icons sz-1 color text-disabled-black pull-left"
                    ng-repeat="i in stars | limitTo: (stars.length - skill.xp)">star</i>
                </div>
              </td>
              <td class="color text-warning" data-th="Nível atual">
                <div class="clearfix inline-block">
                  <i class="material-icons sz-1 pull-left"
                      ng-repeat="i in stars | limitTo: (skill.lvl)">star</i>
                  <i class="material-icons sz-1 pull-left color text-disabled-black"
                      ng-repeat="i in stars | limitTo: (stars.length - skill.lvl)">star</i>
                </div>
              </td>
              <td class="color text-warning" data-th="Expectativa">
                <div class="clearfix inline-block">
                  <i class="material-icons sz-1 pull-left"
                    ng-repeat="i in stars | limitTo: (skill.expect)">star</i>
                  <i class="material-icons sz-1 pull-left color text-disabled-black"
                    ng-repeat="i in stars | limitTo: (stars.length - skill.expect)">star</i>
                </div>
              </td>
            </tr>
            <tr class="no-card" ng-if="key === 'UX'">
              <td class="caption color text-secondary-black">* Não tenho ou tive Mac</td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
  </main>

  <footer class="bg-color accent text-center" style="padding-top: 60px; padding-bottom: 60px; border-bottom: 30px solid rgba(0,0,0,0.2)">
    <div class="text-center">
      <img class="bg-color white pd-1 mg-bt-2" style="border-radius: 50%;" src="src/imgs/logo192.png" alt="">
    </div>
    <div class="container">
      <h4 class="color text-secondary-white">E ae, curtiu? Que tal me dar um feedback?</h4>
      <h3 class="mg-bt-2 color text-secondary-white">renanfz@gmail.com</h4>
      <p class="mg-bt-2 color text-secondary-white">Este site estará em constante atualização, inclusive com melhorias de usabilidade. Por isso, qualquer feedback é valioso para que eu observe como fazer um trabalho melhor.</p>
      <h3 class="mg-bt-2 color text-secondary-white">Muito obrigado! :)</h3>
    </div>
  </footer>

  <aside class="mezzanine full-height" ng-class="{'active' : mezzanineIsOpen}">
    <div id="summary-1" class="structure bg-color white" ng-show="mezzanineContent == 'summary-1'">
      <div class="structure-header center">
        <div class="left">
          <div class="texts">
            <span class="title">Síntese do meu trabalho</span>
          </div>
        </div>
        <div class="right">
          <button class="btn type-flat icon-24" ng-click="closeDetails('summary')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="structure-body pd-tp-1">
        <div class="overflow-limiter">
          <p class="mg-bt-1">Trabalho hoje como referência em usabilidade e experiência do usuário na <a target="_blank" href="https://site.solutionsone.com.br/">Solutions One.</a></p>
          <p class="mg-bt-1">Atuo em conjunto com o Product Owner e a equipe de desenvolvimento, interagindo constantemente com as áreas de negócio para
          descobrir problemas, encontrar oportunidades, validar hipóteses e sugerir soluções precisamente adequadas aos objetivos da plataforma.</p>
          <p class="mg-bt-2">Esse processo trata de blindar a implementação das soluções, minimizando as surpresas durante a etapa de desenvolvimento e antecipando os problemas de usabilidade, interação e experiência do usuário .</p>
          <h4 class="mg-bt-1">O que me move</h4>
          <p class="mg-bt-1">Acredito na empatia como força motriz para o trabalho de UX e usabilidade. Tenho como objetivo sempre pensar na necessidade do usuário e entender a forma como ele enxerga o mundo ao seu redor e como posso contribuir para um dia a dia mais simples e prático.</p>
        </div>
      </div>
    </div>
    <div id="xp-currently-1" class="structure bg-color white" ng-show="mezzanineContent == 'xp-currently-1'">
      <div class="structure-header center">
        <div class="left">
          <div class="texts">
            <span class="title">Feitos Profissionais - Atualmente</span>
          </div>
        </div>
        <div class="right">
          <button class="btn type-flat icon-24" ng-click="closeDetails('xp-currently')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="structure-body pd-tp-1">
        <div class="overflow-limiter">
          <h4 class="mg-bt-1">Prototipação</h4>
          <p class="mg-bt-1">Na Solutions One, sempre validamos e testamos nossas ideias :)</p>
          <p class="mg-bt-1">Aqui estão algumas delas, cerca de 1/5 (o que posso mostrar), mas dá uma ideia ao tipo de protótipos que usamos para validar ideias e fazer testes com usuários.</p>
          <p class="mg-bt-1">
            <a class="line" target="_blank" href="https://proto-rh.netlify.com/">Importação e criação de usuários - https://proto-rh.netlify.com/</a>
          </p>
          <p class="mg-bt-1">
            <a class="line" target="_blank" href="https://proto-s1api-v2.netlify.com/">Cadastro de ApiClients - https://proto-s1api-v2.netlify.com/</a>
          </p>
          <p class="mg-bt-1">
            <a class="line" target="_blank" href="https://proto-s1api-v2.netlify.com/">Cadastro de ApiClients - https://proto-s1api-v2.netlify.com/</a>
          </p>
          <p class="mg-bt-2">
            <a class="line" target="_blank" href="https://proto-h-payment.netlify.com/">Validação de hipóteses para criação de produto - https://proto-h-payment.netlify.com/</a>
          </p>
          <p class="mg-bt-2">
            <a class="line" target="_blank" href="https://github.com/renanzozimo?tab=repositories">Mais no meu github</a>
          </p>
          <p class="mg-bt-1">Mudanças sempre serão bem-vindas mesmo após a implementação final, é um processo de crescimento e
            melhoria contínuo, então nosso objetivo aqui é validar de forma pontual alguns conceitos e interações específicas, bem
            como entender como o usuário está reagindo às mudanças.</p>
        </div>
      </div>
    </div>
    <div id="xp-ux-1" class="structure bg-color white" ng-show="mezzanineContent == 'xp-ux-1'">
      <div class="structure-header center">
        <div class="left">
          <div class="texts">
            <span class="title">Feitos Profissionais - UX</span>
          </div>
        </div>
        <div class="right">
          <button class="btn type-flat icon-24" ng-click="closeDetails('xp-ux')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="structure-body pd-tp-1">
        <div class="overflow-limiter">
          <h4 class="mg-bt-1">Google Design Sprint - Redesenho do App Prime Builder</h4>
          <p class="mg-bt-1">Tínhamos a missão de redesenhar as telas do aplicativo PrimeBuilder, carro-chefe da empresa. O intuito desse redesenho era garantir a fluidez nas tarefas executadas pelo usuário, melhorar a organização de informações e aproximar a experiência proporcionada pelo aplicativo à dos principais <i>apps</i> da Play Store e App Store.</p>
          <p class="mg-bt-1">Conduzi um modelo adaptado do Google Design Sprint por 3 dias contando com a ajuda de uma equipe multidisciplinar de 6 colaboradores: debatemos, esboçamos, divergimos e decidimos como seria a nova interface. Foram feitos protótipos no Axure, o que nos possibilitou realizar testes com alguns usuários.</p>
          <img src="src/imgs/xp-ux-1-01.jpg" title="Design Sprint - sala de reunião" alt="Design Sprint - sala de reunião" class="col-xs-12 col-sm-6 pd-lt-0-force mg-bt-1" style="padding-right: 7.5px;" />
          <img src="src/imgs/xp-ux-1-02.jpg" title="Design Sprint - feedback positivo sobre Renan Zózimo" alt="Design Sprint - feedback positivo sobre Renan Zózimo" class="col-xs-12 col-sm-6 pd-rt-0-force mg-bt-1" style="padding-left: 7.5px;" />
          <div class="text-center mg-bt-2">
            <a class="line" href="https://goo.gl/rPw2uB" target="_blank">
              veja algumas fotos aqui (Google Drive)
            </a>
          </div>
          <p class="mg-bt-1">Os feedbacks foram positivos: pessoas que consideravam o Design Sprint uma perda de tempo se surpreenderam com a dinâmica. Também tivemos sucesso em envolver uma pessoa que participou remoto de todo o processo.</p>
        </div>
      </div>
    </div>
    <div id="xp-ux-2" class="structure bg-color white" ng-show="mezzanineContent == 'xp-ux-2'">
      <div class="structure-header center">
        <div class="left">
          <div class="texts">
            <span class="title">Feitos Profissionais - UX</span>
          </div>
        </div>
        <div class="right">
          <button class="btn type-flat icon-24" ng-click="closeDetails('xp-ux')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="structure-body pd-tp-1 pd-bt-1">
        <div class="ovweflow-limiter">
          <h4 class="mg-bt-1">Timeline de tarefas - PrimeBuilder</h4>
          <p class="mg-bt-1">A necessidade do cliente era de visualizar a linha do tempo da execução de tarefas de seus colaboradores em campo.</p>
          <p class="mg-bt-1">Fizemos pesquisa com os usuários, entendemos onde, quando e como os usuários precisariam dessa solução e desenhamos protótipos funcionais utilizando o Adobe XD.</p>
          <p class="mg-bt-1">Depois de alguns testes de usabilidade, fizemos correções e implementamos com sucesso a <i>feature</i>.</p>
          <div class="text-right v-align children mg-bt-2">
            <a class="mg-rt-1 line" href="https://goo.gl/6gc9ZW" target="_blank">
              PrimeBuilder na Google Play Store
            </a>
            <a class="line" href="https://goo.gl/kYrZpV" target="_blank">
              Protótipo Adobe XD (v1)
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="xp-ux-3" class="structure bg-color white" ng-show="mezzanineContent == 'xp-ux-3'">
      <div class="structure-header center">
        <div class="left">
          <div class="texts">
            <span class="title">Feitos Profissionais - UX</span>
          </div>
        </div>
        <div class="right">
          <button class="btn type-flat icon-24" ng-click="closeDetails('xp-ux')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="structure-body pd-tp-1 pd-bt-1">
        <div class="ovweflow-limiter">
          <h4 class="mg-bt-1">Redesenho de App conforme Material Design Guide</h4>
          <p class="mg-bt-1">Em 2016, juntamente com o time de desenvolvimento Android, conduzi o redesenho de todas as telas do aplicativo resguardando as definições visuais sugeridas pelo Google.</p>
          <p class="mg-bt-1">Um trabalho tela a tela, durante 2 dias, discutindo a usabilidade e aplicação dos componentes, tendo como resultado uma revolução visual no aplicativo. Até hoje, na versão publicada atualmente, a base das interações segue o que definimos durante esse período.</p>
          <p class="mg-bt-1">Depois disso, um segundo trabalho foi feito para adaptarmos as recomendações do Google ao contexto visual do IOS (nessa época, o Material Design ainda não tinha em seu guia uma parte dedicada a esse <i>port</i> como tem hoje).</p>
          <div class="text-right mg-bt-2">
            <a class="line" href="https://goo.gl/6gc9ZW" target="_blank">
              PrimeBuilder na Google Play Store
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="xp-front-1" class="structure bg-color white" ng-show="mezzanineContent == 'xp-front-1'">
      <div class="structure-header center">
        <div class="left">
          <div class="texts">
            <span class="title">Feitos Profissionais - Front-end/CSS</span>
          </div>
        </div>
        <div class="right">
          <button class="btn type-flat icon-24" ng-click="closeDetails('xp-front')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="structure-body pd-tp-1 pd-bt-1">
        <div class="ovweflow-limiter">
          <h4 class="mg-bt-1">Criando nossa própria framework CSS</h4>
          <p class="mg-bt-1">Durante alguns anos, foi uma prática recorrente na empresa customizar frameworks, talvez de uma maneira não ideal. Criava-se um arquivo anexo que funcionava junto, por exemplo, do bootstrap.css, assim tinhamos 2 arquivos gigantes, com diversas classes não usadas e muito <i>overwrite</i>.</p>
          <p class="mg-bt-1">Eu já tinha estudos e conceitos de uma estrutura que sempre pensei em criar, e foi a oportunidade que tive de pegar um projeto pessoal e implementá-lo na prática.</p>
          <p class="mg-bt-1">Sendo assim, propus que criássemos o nosso bootstrap, que serviria de base para todos os projetos dali em diante. Com o trabalho de UX e Design feito de forma prévia, essa estrutura nasceu para consolidar as interações e o visual para os novos produtos web.</p>
          <p class="mg-bt-1">Até hoje essa é a base dos nossos produtos, a produção de páginas ficou extremamente ágil, a manutenção simples, e garantimos o projeto em constante evolução.</p>
          <p class="mg-bt-1">Em paralelo, desenvolvo e aprimoro constantemente este padrão, sendo este site todo produzido utilizando a minha versão pessoal dessa estrutura, uma evolução daquela que lá atrás deu origem ao framework da empresa.</p>
          <div class="text-right mg-bt-2">
            <a class="line" href="http://new.primebuilder.com.br/#/docs" target="_blank">
              Veja a documentação desse trabalho
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="xp-usability-1" class="structure bg-color white" ng-show="mezzanineContent == 'xp-usability-1'">
      <div class="structure-header center">
        <div class="left">
          <div class="texts">
            <span class="title">Feitos Profissionais - Usabilidade</span>
          </div>
        </div>
        <div class="right">
          <button class="btn type-flat icon-24" ng-click="closeDetails('xp-usability')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="structure-body pd-tp-1 pd-bt-1">
        <div class="ovweflow-limiter">
          <h4 class="mg-bt-1">Criação de componente visual: Mezzanine</h4>
          <p class="mg-bt-1">Percebemos a necessidade do usuário em contornar a seguinte situação: clica num objeto, interage com uma janela modal, fecha a janela modal, clica em outro objeto, interage com outra modal… Essa era uma situação constante num sistema com tantas entidades e relações como tínhamos no PrimeBuilder. </p>
          <p class="mg-bt-1">Pensei, desenhei e implementei o componente chamado por nós de Mezzanine, que permite que o usuário interaja com os detalhes de um objeto sem que ele perca acesso ao restante do conteúdo da página, a menos, é claro, que seja esse o objetivo.</p>
          <p class="mg-bt-1">Percebemos uma melhora considerável no fluxo de navegação em atividades simples dentro do sistema, como visualização de detalhes de uma tarefa ou edição de um item.</p>
        </div>
      </div>
    </div>
    <div id="xp-usability-2" class="structure bg-color white" ng-show="mezzanineContent == 'xp-usability-2'">
      <div class="structure-header center">
        <div class="left">
          <div class="texts">
            <span class="title">Feitos Profissionais - Usabilidade</span>
          </div>
        </div>
        <div class="right">
          <button class="btn type-flat icon-24" ng-click="closeDetails('xp-usability')">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="structure-body pd-tp-1 pd-bt-1">
        <div class="ovweflow-limiter">
          <h4 class="mg-bt-1">Usabilidade no sistema legado do PrimeBuilder</h4>
          <p class="mg-bt-1">Como todo produto consolidado, o PrimeBuilder possuía um sistema robusto, funcionando, mas com graves problemas de usabilidade. Por ter sido feito em outra época, algumas convenções já não atendiam a quantidade de features que o produto recebeu ao longo dos anos.</p>
          <p class="mg-bt-1">Foi feito um trabalho de revisão tela a tela, repensando a estrutura dos códigos CSS, a usabilidade geral do sistema, arquitetura da informação, nomenclaturas e fluxos.</p>
          <p class="mg-bt-1">Dentro das possibilidades, fizemos melhorias pontuais, mas significativas, e todo o trabalho de revisão que não pôde, por limitações técnicas, ser implementado, gerou a base de conhecimento do que viria a ser a nova versão do PrimeBuilder, na qual trabalhamos para evitar que todos os problemas enfrentados e engessados no legado não se repetissem.</p>
        </div>
      </div>
    </div>
  </aside>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
  <script src="src/js/scripts.js"></script>

</body>
</html>
