.select-input,
input {
  &[type="checkbox"],
  &[type="radio"] {
    &:active,
    &:focus {
      +div {
        color: $defaultPB;
      }
    }
  }
  //STATUS and STATE
  &,
  & select {
    border-color: rgba($blackPB, 0.1);
    box-shadow: 0 0 transparent;
  }
  &[type="email"],
  &[type="password"],
  &[type="text"],
  &[type="number"],
  &[type="date"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="tel"],
  &[type="time"] {
    & {
      background-color: $inputBgColor;
    }
    &[disabled],
    &:disabled {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}

.select-input:not(.disabled) {
  background-color: $inputBgColor;
}

select[disabled],
select:disabled {
  background-color: rgba(0, 0, 0, 0.03);
}

textarea {
  border-color: rgba($blackPB, 0.1);
  .form-group.is-focused & {
    border-bottom-color: $defaultPB;
  }
}

input[disabled] {
  +.checkbox-icons i {
    color: $textDivadersBlack;
  }
}

$contrast: 5% !default;
[type=range] {
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    background: $defaultPB300;
  }
  &::-webkit-slider-thumb {
    border-color: rgba(0, 0, 0, 0.2);
    background: $defaultPB;
  }
  &:focus::-webkit-slider-runnable-track {
    background: lighten($defaultPB300, $contrast);
  }
  &::-moz-range-track {
    background: $defaultPB300;
  }
  &::-moz-range-thumb {
    border-color: rgba(0, 0, 0, 0.2);
    background: $defaultPB;
  }
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: darken($defaultPB300, $contrast);
  }
  &::-ms-fill-upper {
    background: $defaultPB300;
  }
  &::-ms-thumb {
    border-color: rgba(0, 0, 0, 0.2);
    background: $defaultPB;
  }
  &:focus::-ms-fill-lower {
    background: $defaultPB300;
  }
  &:focus::-ms-fill-upper {
    background: lighten($defaultPB300, $contrast);
  }
}

::-webkit-input-placeholder {
  color: $textSecondaryBlack;
}

:-moz-placeholder {
  color: $textSecondaryBlack;
}

::-moz-placeholder {
  color: $textSecondaryBlack;
}

:-ms-input-placeholder {
  color: $textSecondaryBlack;
}
