//
// Tables
// --------------------------------------------------
table {
  background-color: $body-bg;
  .structure-body & {
    background-color: transparent;
  }
  &.table-striped {
    tr:nth-of-type(odd):not(.active) {
      background-color: $greyscalePB100;
    }
    tr:nth-of-type(even):not(.active) {
      background-color: $body-bg;
    }
  }
}

caption {
  color: $textSecondaryBlack;
}

tr {
  &:not(.active):hover {
    background-color: $greyscalePB300;
    .table-striped &:nth-of-type(n) {
      background-color: $greyscalePB300
    }
    .table-striped &:nth-of-type(2n) {
      background-color: $greyscalePB300
    }
  }
  .table-card & {
    @media (max-width: $screen-xssm-max + px) {
      background-color: #fff !important;
    }
  }
  &.active {
    background-color: $whitePB;
    td * {
      color: $defaultPB;
    }
  }
}

th {
  color: $textPrimaryBlack;
  border-bottom-color: $greyscalePB200;
  background-color: $whitePB;
}

td {
  .table-card tbody & {
    @media (max-width: $screen-xssm-max + px) {
      &.pivot {
        color: $defaultPB;
      }
      &:not(.pivot)::before {
        color: $defaultPB;
      }
    }
  }
}

>td,
>th {
  border-top-color: $greyscalePB200;
}

@include table-row-variant( 'success', lighten($success, 30));
@include table-row-variant( 'info', lighten($info, 30));
@include table-row-variant( 'warning', lighten($warning, 30));
@include table-row-variant( 'error', lighten($error, 30));
.laucher {
  &::after {
    border-top-color: $blackPB;
  }
}

.table-responsive {
  border-color: rgba($blackPB, 0.1);
}
