h3,
.title,
h4,
.subheading,
h5,
.body-2,
h6,
.caption {
  font-weight: 500;
  &.fw-300 {
    font-weight: 300;
  }
}

h1,
.heading,
h2,
.headline {
  font-weight: 400;
  &.fw-300 {
    font-weight: 300;
  }
}

h1,
.heading {
  font-size: 1.85em;
}

h2,
.headline {
  font-size: 1.71em;
}

h3,
.title {
  font-size: 1.42em;
}

h4,
.subheading {
  font-size: 1.14em;
}

h5,
.body-2 {
  font-size: 1em;
}

h6,
.caption {
  font-size: 0.85em;
}

body,
p {
  font-size: 1em;
  font-weight: 400;
}
